<html ng-app> 
  <head>
    <!--link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'-->
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="underscore.js"></script>
  </head>
  <body ng-controller="CardController">
    <div class="page-wrapper">
      <h1>
        Magic Card Exchange
      </h1>
      <div class="top-area-wrapper" ng-controller="CardDetailController">

        <h2>{{card_config.selected_card.name}}</h2>

        <div class="prices-grouping">
          <div class="price-wrapper">
            <div class="amount">
              $2.20
            </div>
            <div class="amount-label">
              BUY
            </div>
          </div>
          <div class="price-wrapper">
            <div class="amount">
              $3.45
            </div>
            <div class="amount-label">
              SELL
            </div>
          </div>
        </div>

        <div class="orders-wrapper">
          <div class="heading">
            Buy Orders
          </div>
          <input class="add" type="button" value="add order"/>
          <table>
            <tr ng-repeat="buy_order in card_config.buy_orders">
              <td class="price">${{buy_order.price}}</td>
              <td class="time">{{buy_order.timestamp}}</td>
              <td class="user"><a href="#">{{buy_order.user_id}}</a></td>
              <td class="cancel"><a href="#">contact</a></td>
            </tr>
          </table>
        </div>
        <div class="orders-wrapper">
          <div class="heading">
            Sell Orders
          </div>
          <input class="add" type="button" value="add order"/>
          <table>
            <tr ng-repeat="sell_order in card_config.sell_orders">
              <td class="price">${{sell_order.price}}</td>
              <td class="time">{{sell_order.timestamp}}</td>
              <td class="user"><a href="#">{{sell_order.user_id}}</a></td>
              <td class="cancel"><a href="#">contact</a></td>
            </tr>
          </table>
        </div>

      </div>

      <div class="bottom-area-wrapper">
        <input class="type-ahead-card-name" value="card name..." name="type-ahead-card-name"/>
        <table ng-init="getAllCards();">
          <tr>
            <th></th>
            <th class="card">Card</th>
            <th class="set">Set</th>
            <th class="buy">Buy</th>
            <th class="sell">Sell</th>
            <th class="activity sort-by">Activity</th>
          </tr>
          <tr ng-repeat="card in card_config.cards">
            <td class="radio">
              <input value="{{card.id}}" type="radio" name="card-selection" ng-model="card_config.selected_card_id" ng-change="setSelectedCard()">
            </td>
            <td class="card">
              {{card.name}}
            </td>
            <td class="set">
              {{card.set}}
            </td>
            <td class="buy">
              $2.20
            </td>
            <td class="sell">
              $3.45
            </td>
            <td class="activity">
              high
            </td>
          </tr>
        </table>

      </div>

    </div>
    <script type="text/javascript" src="angular.js" ></script>
    <script type="text/javascript" src="controllers.js"></script>
  </body>

</html>
